<!DOCTYPE html>
<html>
  <head>
    <title>Poker Judge Tool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  　<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker Judge Tool</title>
</head>
<body>
<div class="wrap">
    <div class="header">
      <i class="far fa-3x fa-hand-lizard fa-flip-horizontal"></i>
      <h1>Poker Judge Tool</h1>
      <i class="far fa-3x fa-hand-lizard"></i>
    </div>
    <div class="contents">
      <%= yield %>
    </div>
    <div class="footer">
      <small>©︎Copyright 2020 poker-judge-tool All Rights Reserved.</small>
    </div>
</div>
</body>
